= form_tag(login_path, :class => 'form-signin') do |f|
  %h3.form-signin-heading= t('terms.login')

  = render 'shared/flash_messages'

  = text_field_tag :email_or_name, nil, :placeholder => 'Email or Username', :class => 'input-block-level'
  = password_field_tag :password, nil, :placeholder => 'Password', :class => 'input-block-level'
  %label.checkbox
    = check_box_tag :remember_me,  1,  params[:remember_me]
    Remember me

  = submit_tag t('terms.login'), :class => 'btn btn-primary'
