= form_tag password_resets_path, class: 'form-signin' do
  %h2.text-center
    = fa_icon('wrench')
    = t('terms.password_reset_title')

  %h5= t('terms.please_input_email_for_newpassword')
  %p{style: 'color: red'}= flash[:alert]
  .field
    = email_field_tag :email, nil, placeholder: 'Email', class: 'input-block-level'
  .field
    = submit_tag t('actions.reset_password'), class: 'btn btn-primary'
