-# = content_for :menu_link do
-#   = render 'menu_link'

%h1= t('terms.index_page')

- if @pages.empty?
  = t('terms.not_found_seach_word_of', word: @search_word)
- else
  - @pages.each do |page|
    .well.search-result
      %h4
        \/
        = link_to highlight(page.wiki_information.name, @search_word) , pages_path(wiki_name: page.wiki_information.name)
        \/
        = link_to highlight(page.url_name, @search_word) , page_path(wiki_name: page.wiki_information.name, page_name: page.url_name)
        %small
          \(
          = highlight(page.name, @search_word)
          \)
      = highlight(page.content, @search_word)
