= error_messages_for(@user)

.form-group
  .col-sm-3.control-label= f.label :name, class: "control-label"
  .col-sm-5= f.text_field :name, placeholder: User.human_attribute_name(:name), required: true, class: 'form-control'

.form-group
  .col-sm-3.control-label= f.label :email
  .col-sm-5
    - if @user.activated?
      = f.text_field :email, placeholder: User.human_attribute_name(:email), required: true, class: 'form-control'
    - else
      %big= @user.email

.form-group
  .col-sm-3.control-label= f.label :password, class: "control-label"
  .col-sm-5= f.password_field :password, placeholder: User.human_attribute_name(:password), required: true, class: 'form-control'

.form-group
  .col-sm-3.control-label= f.label :password_confirmation, class: "control-label"
  .col-sm-5= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), required: true, class: 'form-control'
