.offset2

  = render 'shared/flash_messages'

  = form_for(@user, url: regist_user_path(@user.activation_token), html: {method: :put, class: "form-horizontal"}) do |f|

    .control-group
      .controls
        %h2= t('terms.user_regist')

    = render 'profile_form', f: f

    .control-group.actions
      .controls
        = f.submit t('actions.regist'), class: 'btn btn-primary'

