.center-block

  = render 'shared/flash_messages'

  = form_for(@user, url: regist_user_path(@user.activation_token), html: {method: :put, class: "form-horizontal"}) do |f|

    %h2.col-sm-offset-4
      = fa_icon('leaf 2x')
      = t('terms.user_regist')

    = render 'profile_form', f: f

    .form-group
      .col-sm-offset-3.col-sm-10
        = f.submit t('actions.regist'), class: 'btn btn-primary'
