.col-md-offset-2

  = render 'shared/flash_messages'

  = form_for(@user, url: update_setting_path(current_user), html: {method: :put, class: "form-horizontal", role: 'form'}) do |f|

    .form-group
      .col-sm-offset-3.col-sm-10
        %h2= t('terms.setting')

    = render 'profile_form', f: f

    .form-group
      .col-sm-offset-3.col-sm-10= f.submit t('actions.update'), class: 'btn btn-primary'
