.offset2

  = render 'shared/flash_messages'

  = form_for(@user, url: update_setting_path(current_user), html: {method: :put, class: "form-horizontal"}) do |f|

    .control-group
      .controls
        %h2= t('terms.setting')

    = render 'profile_form', f: f

    .control-group.actions
      .controls
        = f.submit t('actions.update'), class: 'btn btn-primary'

