- newly = @page.new_record?
- form_url = newly ? wiki_information_pages_path(@wiki_info) : wiki_information_page_path(@wiki_info, @page)
- http_method = newly ? :post : :put
= form_for(@page, :url => form_url, :method => http_method) do |f|

  = error_messages_for(@page)

  #page-content
    - if @page.new_record?
      .field
        = f.text_field :name, :required => true, :placeholder => Page.human_attribute_name('name')
    = f.text_area :body, :class => 'span9', :rows => 10, :id => 'markdown-text'
    = f.submit (newly ? t('actions.regist') : t('actions.update')), :class => 'btn btn-primary'

%fieldset
  %legend Preview
  .well.well-small#preview-result

:coffeescript
  $ ->
    parse_md = ->
      result = Markdown $('#markdown-text').val()
      $('#preview-result').html result

    prev = initial = $('#markdown-text').val()
    $('#markdown-text').keyup ->
      markdown_text = $('#markdown-text').val()
      if (prev != markdown_text)
        prev = markdown_text
        $.ajax
          type: "POST"
          url: "#{preview_wiki_information_page_path(@wiki_info, @page)}"
          data:
            edited_user_id: "#{current_user.id}"
            body: markdown_text
          dataType: 'json'
        # parse_md()

    # 初回描画
    parse_md()

