- newly = @page.new_record?
- form_url = newly ? pages_path(wiki_name: @wiki_info.name) : page_path(wiki_name: @wiki_info.name, page_name: @page.name)
- http_method = newly ? :post : :put

#editing-user.offset1{:style => 'display: none;'}
.span6
  = form_for(@page, :url => form_url, :html => {:method => http_method, :id => 'wiki-page-form'}) do |f|
    = error_messages_for(@page)
    #page-content
      - if @page.new_record?
        .field
          = f.hidden_field :name
      = f.text_area :body, :class => 'span6', :rows => 10, :id => 'markdown-text'
      .form-actions
        = f.submit (newly ? t('actions.regist') : t('actions.update')), :class => 'btn btn-primary'
        = link_to t('actions.cancel'), newly ? wiki_info_path(wiki_name: @wiki_info.name) : page_path(wiki_name: @wiki_info.name, page_name: @page.name), :class => 'btn'

.span6
  .well.well-small#preview-result

:coffeescript
  $ ->
    $('#markdown-text').autosize({append: "\n"})

:css
  #markdown-text {
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
   }
