- form_url = @page.new_record? ? wiki_information_pages_path(@wiki_info) : wiki_information_page_path(@wiki_info, @page)
- http_method = @page.new_record? ? :post : :put
= form_for(@page, :url => form_url, :method => http_method) do |f|
  - if @page.errors.any?
    %div#error_explanation
      %h2= pluralize(@page.errors.count, "error")
      prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  - if @page.new_record?
    .field
      = f.label :name
      = f.text_field :name

  = f.textile_editor :body, :class => 'textile_editor', :rows => 10

  = f.submit "更新", :class => 'btn btn-primary'

- unless @page.new_record?
  = form_for(@page, :url => preview_wiki_information_page_path(@wiki_info.id, @page), :remote => true, :html => {:method => :post, :id => 'preview-link'} ) do |f|
    = f.hidden_field :body, :id => 'preview_body'
    = f.submit 'preview', :class => 'btn btn-inverse'

  %hr

  #show-area

:javascript
  $(function(){
    $('#page_body').addClass('span9');
    $('#preview-link').on('click', function(){
      var current_body = $('#page_body').val();
      $('#preview_body').val(current_body);
    })
  })

- content_for :javascript do
  = textile_editor_initialize

