- newly = @page.new_record?
- form_url = newly ? pages_path(wiki_name: @wiki_info.name) : page_path(wiki_name: @wiki_info.name, page_name: @page.url_name)
- http_method = newly ? :post : :put

= error_messages_for(@page)

.span6
  = form_for(@page, url: form_url, html: {method: http_method, id: 'wiki-page-form'}) do |f|
    #page-content
      .field
        - if @page.new_record?
          = f.hidden_field :url_name
        = f.hidden_field :name
      = f.text_area :body, class: 'span6', rows: 10, id: 'markdown-text'
      .form-actions
        = f.submit (newly ? t('actions.regist') : t('actions.update')), class: 'btn btn-primary', id: 'page-submit-btn'
        = link_to t('actions.cancel'), newly ? wiki_info_path(wiki_name: @wiki_info.name) : page_path(wiki_name: @wiki_info.name, page_name: @page.url_name), :class => 'btn'

.span6
  .well.well-small#preview-result

:coffeescript
  $ ->
    $('#markdown-text').autosize({append: "\n"})

:css
  #markdown-text {
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
   }
