= content_for :menu_link do
  = render 'menu_link'

= content_for :page_editable do
  .row
    %h2
      = @wiki_info.name
      &raquo;
      = @page.name

    = render 'form'

    = subscribe_to "/pages/#{@page.id}"

  -# :coffeescript
    -# source = new EventSource("/pages/#{@page.id}")
    -# source.addEventListener "pages.update.#{@page.id}", (e) ->
    -#   page = $.parseJSON(e.data).page
    -#   console.log page
    -#   -# $('#chat').append($('<li>').text("#{message.name}: #{message.content}"))



  :coffeescript
    $ ->
      parse_md = ->
        result = Markdown get_markdown_text()
        $('#preview-result').html result
      get_markdown_text = ->
        $('#markdown-text').val()
      sending_page_body = (request_url, body) ->
        $.ajax
          type: "POST"
          url: request_url
          data:
            edited_user_id: "#{current_user.id}"
            body: body
          dataType: 'json'
        .error ->
          parse_md()

      prev = initial = get_markdown_text()
      $('#markdown-text').keyup ->
        markdown_text = get_markdown_text()
        unless prev == markdown_text
          prev = markdown_text
          sending_page_body "#{preview_page_path(wiki_name: @wiki_info.name, page_name: @page.name)}", markdown_text

      PrivatePub.subscribe "/pages/#{@page.id}", (data, channel) ->
        $('#markdown-text').val data.body
        result = Markdown $('#markdown-text').val()
        $('#preview-result').html result
        $('#editing-user').html(data.editing_word)
        $('#editing-user').show()

      # parse on firstview
      parse_md()

