= content_for :menu_link do
  = render 'menu_link'

%h2
  = @wiki_info.name
  &raquo;
  = @page.name

= render 'form'

= subscribe_to "/pages/#{@page.id}"


.pull-right= link_to t('actions.show_detail'), wiki_information_page_path(@wiki_info, @page)

:coffeescript
  $ ->
    parse_md = ->
      result = Markdown get_markdown_text()
      $('#preview-result').html result
    get_markdown_text = ->
      $('#markdown-text').val()
    ajax_request = (request_url, body) ->
      $.ajax
        type: "POST"
        url: request_url
        data:
          edited_user_id: "#{current_user.id}"
          body: body
        dataType: 'json'
      .error ->
        parse_md()

    prev = initial = get_markdown_text()
    $('#markdown-text').keyup ->
      markdown_text = get_markdown_text()
      unless prev == markdown_text
        prev = markdown_text
        ajax_request "#{preview_wiki_information_page_path(@wiki_info, @page)}", markdown_text

    $('#wiki-page-form').submit ->
      ajax_request "#{preview_wiki_information_page_path(@wiki_info, @page)}", get_markdown_text()

    # 初回描画
    parse_md()

