= content_for :menu_link do
  = render 'menu_link'

- content_for :right_area do
  %table.table.table-hover
    - @page.histories(true).each do |history|
      %tr{"data-href" => (histories_page_path(wiki_name: @wiki_info.name, page_name: @page.name, sha: history[:sha]))}
        %td= history[:date].to_s(:db)
        %td= history[:author]

%h2
  = truncate(@wiki_info.name, length: 20)
  &raquo;
  = link_to @page.name, page_path(wiki_name: @wiki_info.name, page_name: @page.name)
  = t('terms.history_of')

- if @history_content

  %h4
    = @page.date(params[:sha]).to_s(:db)
    = "(by #{@page.author_name(params[:sha])})"

  %hr
    = form_for @page, url: revert_page_path(wiki_name: @wiki_info.name, page_name: @page.name, sha: params[:sha]) do |f|
      = f.submit t('actions.revert_page'), class: 'btn btn-warning', confirm: t('actions.confirm_revert')

    = raw @history_content

  %hr
    %h4 Diff
    = simple_format h(@page.diff(params[:sha]))
  %hr

:coffeescript
  $ ->
    $('tbody tr[data-href]').delegate '*', 'click', ->
      window.location = $(this).parents('tr').data('href')

