= content_for :menu_link do
  = render 'menu_link'

= content_for :page_editable do
  .row
    %h2.text-center
      = "/#{@wiki_info.name}/"
      = text_field_tag :page, @page.url_name, placeholder: Page.human_attribute_name('url_name'), id: 'new-page-url-name', required: true
      %small= t('terms.page_url_name_pattern')
    %h3.text-center
      %small Page name
      = text_field_tag :page, @page.name, placeholder: t('terms.page_name_format_placeholder'), id: 'new-page-name', required: true
    = render 'form'


  :coffeescript
    $ ->
      get_markdown_text = ->
        $('#markdown-text').val()

      sending_page_body = (request_url, body) ->
        $.ajax
          type: 'POST'
          url: request_url
          data:
            previewed: true
            edited_user_id: "#{current_user.id}"
            body: body
          success: (data, textStatus, jqXHR) ->
            console.log data
            $('#preview-result').html data
          error: (data, textStatus, jqXHR) ->
            console.log textStatus

      render_preview = ->
        url = "#{preview_page_url(wiki_name: @wiki_info.name)}"
        sending_page_body(url, get_markdown_text)

      $('#markdown-text').keyup ->
        markdown_text = get_markdown_text()
        if (prev != markdown_text)
          prev = markdown_text
          render_preview()

      $('#new-page-name').keyup ->
        $('#page_name').val( $('#new-page-name').val())
      $('#new-page-url-name').keyup ->
        $('#page_url_name').val( $('#new-page-url-name').val())
