= content_for :menu_link do
  = render 'menu_link'

= content_for :page_editable do
  .row
    %h2
      = @wiki_info.name
      &raquo;
      = text_field_tag :page, nil, :placeholder => Page.human_attribute_name('name'), :id => 'new-page-name'
    = render 'form'


  :coffeescript
    $ ->
      parse_md = ->
        result = Markdown $('#markdown-text').val()
        $('#preview-result').html result
      $('#markdown-text').keyup ->
        markdown_text = $('#markdown-text').val()
        if (prev != markdown_text)
          prev = markdown_text
          parse_md()
      $('#new-page-name').keyup ->
        $('#page_name').val( $('#new-page-name').val())
