= content_for :menu_link do
  = render 'menu_link'

-# %small
-#   = breadcrumbs(@page)


%p#notice
  = notice

%h4
  = "Page name: #{@page.name}"
  = link_to "(#{t('actions.editing')})", edit_wiki_information_page_path(@wiki_info, @page)
  = link_to "(#{t('actions.deleting')})", wiki_information_page_path(@wiki_info, @page), :confirm => t('actions.confirm_delete'), :method => :delete

  %small= "Last edited by #{@page.author} #{time_ago_in_words(@page.created_at)}"

%hr

= raw(@page.content)

%hr

