= content_for :menu_link do
  = render 'menu_link'

= render 'shared/flash_messages'

.col-md-offset-2{'ng-controller' => 'wikiItemsController'}
  = form_for @wiki_info, url: wiki_info_path(wiki_name: @wiki_info.name) , html: {method: :put, class: 'form-horizontal', role: 'form'} do |f|

    = render 'form', f: f

    .form-group
      .col-sm-offset-3.col-sm-10
        = f.submit t('actions.update'), :class => 'btn btn-primary'
        = link_to t('actions.return_back'), root_path, :class => 'btn'

  #private-members{'ng-show' => "isShow"}
    = render 'private_members'
