%h1= t('terms.index_wiki')

= render 'shared/flash_messages'

%table
  %tr
    %th= WikiInformation.human_attribute_name(:name)
    %th= WikiInformation.human_attribute_name(:is_private)
    %th= WikiInformation.human_attribute_name(:created_by)
    %th
    %th

  - @wiki_informations.each do |wiki_information|
    %tr
      %td= link_to wiki_information.name, wiki_information
      %td= wiki_information.private_policy
      %td= wiki_information.creator.name
      %td= link_to t('actions.editing'), edit_wiki_information_path(wiki_information)
      %td= link_to t('actions.deleting'), wiki_information, :method => :delete, :confirm => t('actions.confirm_delete')

