= content_for :menu_link do
  = render 'wiki_informations/menu_link'

%h1.text-center= t('terms.index_wiki')

= render 'shared/flash_messages'

%table.table.table-hover
  - @wiki_informations.each do |wiki|
    %tr.wiki-items
      %td{class: "#{wiki.private? ? 'warning' : ''}", 'ng-controller' => 'WikiItemCtrl', 'ng-mouseover' => "showActionBtn()", 'ng-mouseleave' => "hideActionBtn()"}
        .col-md-2
          %h4
            .label{class: "label label-#{wiki.private_policy_label}"}
              - if wiki.private?
                = fa_icon('lock')
              = wiki.private_policy

        .col-md-8
          %h3
            = link_to wiki.name, wiki_info_path(wiki_name: wiki.name)
            %small.pull-right= l wiki.updated_at

        - unless current_user.limited?
          .col-md-2.actions{'ng-show' => "isShow"}
            %h4
              = link_to fa_icon('edit 2x'), edit_wiki_info_path(wiki_name: wiki.name)
              = link_to fa_icon('trash-o 2x'), wiki_info_path(wiki_name: wiki.name), data: {method: :delete, confirm: t('actions.confirm_delete')}
