%h1.text-center= t('terms.index_wiki')

= render 'shared/flash_messages'

%table.table.table-hover{style: 'margin: 0 auto 0 auto;'}
  - @wiki_informations.each do |wiki|
    %tr
      %td
        .label{class: "label-#{wiki.private_policy_label}"}= wiki.private_policy
      %td
        %h3
          = link_to wiki.name, wiki_info_path(wiki_name: wiki.name)
          %small.text-center= l wiki.updated_at
      %td
        .pull-right
          = link_to t('actions.editing'), edit_wiki_info_path(wiki_name: wiki.name)
          = link_to raw('<i class="icon-remove-sign"></i>'), wiki_info_path(wiki_name: wiki.name), method: :delete, confirm: t('actions.confirm_delete')
