= content_for :menu_link do
  = render 'menu_link'

%h1{style: 'text-align: center;'}= t('actions.new_wiki')

.offset2
  = form_for @wiki_info, url: wiki_infos_path, html: {method: :post, class: 'form-horizontal'} do |f|

    = render 'form', f: f

    .control-group
      .controls.actions
        = f.submit t('actions.save'), class: 'btn btn-primary'
        = link_to t('actions.return_back'), root_path, :class => 'btn'
