= content_for :menu_link do
  = render 'pages/menu_link'

%p#notice= notice

.pull-left.label{:class => ("label-#{@wiki_info.private_policy_label}")}= @wiki_info.private_policy
%h5.pull-right
  %b= WikiInformation.human_attribute_name(:created_by)
  \:
  = @wiki_info.creator.name

%h1{:style => "text-align:center"}
  = link_to truncate(@wiki_info.name, :length => 20), '#', :id => "wiki_name_link", :"data-resource" => "wiki_information", :"data-name" => "name", :remote => true, :method => :put

- if @wiki_info.is_private && @wiki_info.controllable_by?(current_user)
  %hr/
  %div{:style => "text-align:center"}
    %h3= PrivateMembership.model_name.human
    - @wiki_info.visible_authority_users.each do |user|
      %ul.unstyled
        %li
          = "#{user.name} (#{user.email})"
          = link_to raw('<i class="icon-remove"></i>'), remove_authority_user_path(@wiki_info, :email => user.email), :method => :delete, :confirm => t('actions.confirm_delete'), :class => 'btn btn-warning'
    = form_tag add_authority_user_path(@wiki_info), :class => 'form-inline' do |f|
      = text_field_tag :email, nil, :placeholder => 'Email'
      = submit_tag t('actions.add_user'), :class => 'btn btn-primary'

%hr/

%div{:style => "text-align:center"}
  %h3= t('terms.index_page')

  - @wiki_info.pages.each do |page|
    = link_to page.name, wiki_information_page_path(@wiki_info, page)

:javascript
  $(function(){
    $('#wiki_name_link').editable({
      title: "Enter Wikiname",
      type: 'text',
      url: "#{wiki_information_path(@wiki_info)}"
    });
  });
