= content_for :menu_link do
  = render 'pages/menu_link'

%p#notice= notice

%h2= "[#{@wiki_info.private_policy}] #{@wiki_info.name}"
= link_to t('actions.editing'), edit_wiki_information_path(@wiki_info)

%p
  %b= WikiInformation.human_attribute_name(:created_by)
  \:
  = @wiki_info.creator.name

%hr
= t('terms.index_page')
%hr

- @wiki_info.pages.each do |page|
  = link_to page.name, wiki_information_page_path(page)
