= content_for :menu_link do
  = render 'pages/menu_link'

%p#notice= notice

%h2
  = "[#{@wiki_info.private_policy}]"
  = link_to @wiki_info.name, '#', :id => "wiki_name", :"data-resource" => "wiki_information", :"data-name" => "name", :"data-url" => wiki_information_path(@wiki_info), :remote => true, :method => :put, :"data-type" => 'text', :"data-original-title" => "Enter Wikiname"

%p
  %b= WikiInformation.human_attribute_name(:created_by)
  \:
  = @wiki_info.creator.name

- if @wiki_info.is_private && @wiki_info.controllable_by?(current_user)
  %h3= PrivateMembership.model_name.human
  - @wiki_info.visible_authority_users.each do |user|
    %ul
      %li
        = "#{user.name} (#{user.email})"
        = link_to t('actions.deleting'), remove_authority_user_path(@wiki_info, :email => user.email), :method => :delete, :confirm => t('actions.confirm_delete')
  = form_tag add_authority_user_path(@wiki_info) do |f|
    = text_field_tag :email, nil, :placeholder => 'Email'
    = submit_tag t('actions.add_user')

%h3= t('terms.index_page')

- @wiki_info.pages.each do |page|
  = link_to page.name, wiki_information_page_path(@wiki_info, page)

:javascript
  $(function(){
    $('#wiki_name').editable();
  });
