= content_for :menu_link do
  = render 'pages/menu_link'

%p#notice= notice

%p
  %b Name:
  = @wiki_info.name
%p
  %b= @wiki_info.private_policy
%p
  %b Created by:
  = @wiki_info.creator.name

= link_to '編集', edit_wiki_information_path(@wiki_info)

%hr

- @wiki_info.pages.each do |page|
  = link_to page.name, wiki_information_page_path(page)
