- form_url = @user.new_record? ? admin_users_path : admin_user_path(@user)
- http_method = @user.new_record? ? :post : :put
= form_for(@user, :url => form_url, :method => http_method) do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2= pluralize(@user.errors.count, "error")
      prohibited this page from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :password
    = f.password_field :password

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .field#admin_user_flag_area
    = f.label :admin
    = f.check_box :admin, :id => 'admin_user_flag'

  .field#limited_user_flag_area
    = f.label :limited
    = f.check_box :limited, :id => 'limited_user_flag'

  .actions
    = f.submit t('actions.add_user'), :class => 'btn'

:javascript
  $(function() {
    $("#admin_user_flag").bind("click", function() {
      $("#limited_user_flag_area").animate({opacity: "toggle"}, "slow");
    });

    $("#limited_user_flag").bind("click", function(){
      $("#admin_user_flag_area").animate({opacity: "toggle"}, "slow");
    });
  });

