- newly = @user.new_record?
- form_url = newly ? admin_users_path : admin_user_path(@user)
- http_method = newly ? :post : :put
= form_for(@user, :url => form_url, :html => {:method => http_method, :class => "form-horizontal"}) do |f|

  = error_messages_for(@user)

  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name, :placeholder => User.human_attribute_name(:name)

  .control-group
    = f.label :email, :class => "control-label"
    .controls
      = f.text_field :email, :placeholder => User.human_attribute_name(:email)

  .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password, :placeholder => User.human_attribute_name(:password)

  .control-group
    = f.label :password_confirmation, :class => "control-label"
    .controls
      = f.password_field :password_confirmation, :placeholder => User.human_attribute_name(:password_confirmation)

  .control-group#admin_user_flag_area
    = f.label :admin, :class => "control-label"
    .controls
      = f.check_box :admin, :id => 'admin_user_flag'

  .control-group#limited_user_flag_area
    = f.label :limited, :class => "control-label"
    .controls
      = f.check_box :limited, :id => 'limited_user_flag'

  .control-group.actions
    .controls
      = f.submit (newly ? t('actions.add_user') : t('actions.update')), :class => 'btn btn-primary'

:coffeescript
  targetId = (domId) ->
    if domId is "admin_user_flag"
      "#limited_user_flag_area"
    else
      "#admin_user_flag_area"

  $ ->
    checkedType = $("input:checked").attr "id"
    $(targetId(checkedType)).toggle() if checkedType
    $(":checkbox").on "click", ->
      $(targetId(this.id)).animate {opacity: "toggle"}, "slow"

