%h2.text-center
  = fa_icon('users')
  = t('terms.admin_user_index')

= render 'shared/flash_messages'

%table.table.table-hover
  - @active_users.each do |user|
    %tr.users
      %td
        .row
          .col-md-1.col-xs-offset-1
            %h5= user.formatted_kind
          .col-md-1
            = image_tag avatar_url(user, size: 30)
          .col-md-6
            = link_to admin_user_path(user) do
              %h4
                %strong= user.name
                %small= " ( #{user.email} )"
          .col-md-3.actions.hide
            .pull-right
              = link_to fa_icon('edit 2x'), edit_admin_user_path(user)
              = link_to fa_icon('lock 2x') # TODO: ユーザ凍結
              = link_to fa_icon('times-circle 2x'), admin_user_path(user), method: :delete, data: {confirm: t('actions.confirm_delete')}

%hr
- unless @invalidity_users.empty?

  .text-center
    %h3
      = fa_icon('rocket')
      = t('terms.index_inviting_user')
      %small= link_to fa_icon('question'), "#", rel: 'tooltip', :"data-placement" => "top", title: t('terms.activation_token_expiration_period')

  %table.table.table-hover
    - @invalidity_users.each do |user|
      %tr{class: "#{user.activation_expired? ? 'danger' : 'users'}"}
        %td
          .col-md-2.col-md-offset-2.text-right= user.formatted_kind
          .col-md-5
            = user.email
            = link_to admin_user_path(user), method: :delete, style: 'color: red;', data: {confirm: t('actions.confirm_delete')} do
              = fa_icon('times-circle')
          .col-md-3.actions{class: "#{user.activation_expired? ? '' : 'hide'}"}
            = link_to resend_invite_mail_admin_user_path(user) do
              = fa_icon('mail-forward')
              = fa_icon('envelope-o')
            - if user.activation_expired?
              .pull-right= link_to fa_icon('question'), "#", rel: 'tooltip', :"data-placement" => "top", title: t('terms.hint_token_expired_user')


.text-center= link_to t('actions.invite_user'), '#invite-user-form', class: 'btn btn-primary', data: {toggle: "modal"}

#invite-user-form.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3#invite-user-label.text-center= t('actions.invite_user')
      .modal-body
        %p
          = form_for User.new, url: invite_user_path, html: {class: 'form-horizontal', role: 'form'} do |f|
            .form-group
              .col-sm-4.control-label= f.label :email
              .col-sm-6= f.email_field :email, placeholder: User.human_attribute_name(:email), class: 'form-control'

            .form-group#admin_user_flag_area
              .col-sm-4.control-label= f.label :admin, :class => "control-label"
              .col-sm-6= f.check_box :admin, :id => 'admin_user_flag', class: 'form-control'

            .form-group#limited_user_flag_area
              .col-sm-4.control-label= f.label :limited, :class => "control-label"
              .col-sm-6= f.check_box :limited, :id => 'limited_user_flag', class: 'form-control'
            .form-group.actions
              .col-sm-offset-4.col-sm-6
                = f.submit t('actions.invite'), class: 'btn btn-primary', id: 'invite_user_button'
                %button{"data-dismiss" => "modal", "aria-hidden" => "true", class: 'btn'}= t('actions.cancel')
      .modal-footer


:coffeescript
  targetId = (domId) ->
    if domId is "admin_user_flag"
      "#limited_user_flag_area"
    else
      "#admin_user_flag_area"

  $ ->
    $('.users').hover (e) ->
      $('.actions', $(e.target).parent()).removeClass('hide')
    , (e) ->
      $('.actions', $(e.target).parent()).addClass('hide')

    checkedType = $("input:checked").attr "id"
    $(targetId(checkedType)).toggle() if checkedType
    $(":checkbox").on "click", ->
      $(targetId(this.id)).animate {opacity: "toggle"}, "slow"

    $('#invite_user_button').on 'click', (ev) ->
      location.reload


