%h1= t('terms.index_user')

%table
  %tr
    %th name
    %th email
    %th admin
  - @users.each do |user|
    %tr
      %td= link_to user.name, admin_user_path(user)
      %td= user.email
      %td= user.admin
      %td= link_to t('actions.editing'), edit_admin_user_path(user)
      %td= link_to t('actions.deleting'), admin_user_path(user), :method => :delete, :confirm => t('actions.confirm_delete')

%h3= link_to t('actions.add_user'), new_admin_user_path, :class => 'btn'
