!!!
%html{:lang => "en"}
  %head
    = render 'shared/layout/head'
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand= link_to "InternalWiki", root_path
          .nav-collapse
            %ul.nav
              - if content_for?(:menu_link)
                = yield(:menu_link)
              - else
                %li= link_to t('terms.new_wiki'), new_wiki_information_path
              %li
                = form_tag('#', :class => 'form-search', :id => 'search-word-form') do
                  = text_field_tag :query, @search_word, :placeholder => "Search word...", :class => 'input-medium search-query', :id => 'search-query'
                  = submit_tag t('terms.search'), :class => 'btn btn-primary'

              - if current_user
                %li= image_tag avatar_url(current_user, :size => 50)
                %li= link_to "Log out", logout_path
                - if current_user.admin?
                  %li= link_to t('terms.user_control'), admin_users_path
                %li= link_to 'Login with google', auth_at_provider_path(:provider => :google)

    .container
      .row
        .span9
          = yield
        .span3
          - if content_for?(:right_area)
            = yield(:right_area)
          - else
            .well.sidebar-nav
              %h4
                = t('terms.recent_update_pages')
              %ul.nav.nav-list
                - Page.accessible_by(current_user).recently.each do |page|
                  %li
                    %p
                      = link_to(truncate(page.name, :length => 15), wiki_information_page_path(page.wiki_information, page))
                      = link_to(truncate("(#{page.wiki_information.name})", :length => 10), wiki_information_path(page.wiki_information))

:coffeescript
  $('#search-word-form').on 'submit', ->
    this.action = "/search?q=" + $('#search-word-form #search-query').val()
    this.submit()
