!!!
%html{lang: 'en', 'ng-app' => 'InternalWiki'}
  %head
    = render 'shared/layout/head'
  %body
    %nav.navbar.navbar-default{role: 'navigation'}
      .navbar-brand
        = link_to root_path do
          = fa_icon('leaf')
          InternalWiki

      - if content_for?(:menu_link)
        = yield(:menu_link)

      = form_tag('#', class: 'navbar-form navbar-left', role: 'search', id: 'search-word-form', method: :get) do
        .form-group
          = text_field_tag :q, @search_word, placeholder: 'Search word...', class: 'form-control', id: 'search-query'
        = submit_tag t('terms.search'), class: 'btn btn-primary'
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.navbar-text= current_user.name
          %li
            %a{class: 'dropdown-toggle', :"data-toggle" => "dropdown", href: "#"}
              = image_tag avatar_url(current_user, size: 25)
              %b{class: "caret"}
            %ul{class: 'dropdown-menu'}
              %li= link_to t('terms.setting'), user_setting_path
              %li= link_to t('terms.logout'), logout_path
              - if current_user.admin?
                %li= link_to t('terms.user_control'), admin_users_path

    .container
      .row
        .col-md-12
          - if content_for?(:page_editable)
            = yield(:page_editable)
          - else
            .row
              .col-md-9
                = yield
              .col-md-3
                - if content_for?(:right_area)
                  = yield(:right_area)
                - else
                  .well.sidebar-nav
                    %h5= t('terms.recent_update_pages')
                    %ul.nav.nav-list
                      - Page.accessible_by(current_user).recently.each do |page|
                        %li
                          %small= link_to truncate(page.name, length: 13), page_path(wiki_name: page.wiki_name, page_name: page.url_name), rel: 'tooltip', :"data-placement" => "right", title: "Updated: #{l page.updated_at}"

:coffeescript
  $('#search-word-form').on 'submit', ->
    this.action = "/search?q=" + $('#search-word-form #search-query').val()
    this.submit()
