!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "InternalWiki"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    = favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    = favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    = favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    = favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / For all other devices
    / Size should be 32 x 32 pixels
    /  Javascripts
    / ==================================================
    = javascript_include_tag "application"
    = yield :javascript
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand= link_to "InternalWiki", root_path
          .nav-collapse
            %ul.nav
              - if content_for?(:menu_link)
                = yield(:menu_link)
              - else
                %li= link_to t('terms.new_wiki'), new_wiki_information_path
              %li
                = form_tag('#', :class => 'form-search', :id => 'search-word-form') do
                  = text_field_tag :query, @search_word, :placeholder => "Search word...", :class => 'input-medium search-query', :id => 'search-query'
                  = submit_tag t('terms.search'), :class => 'btn btn-primary'

              - if current_user
                %li= "Logged in as #{current_user.name}"
                %li= link_to "Log out", logout_path
                - if current_user.admin?
                  %li= link_to t('terms.user_control'), admin_users_path
                %li= link_to 'Login with google', auth_at_provider_path(:provider => :google)

    .container
      .row
        .span9
          = yield
        .span3
          - if content_for?(:right_area)
            = yield(:right_area)
          - else
            .well.sidebar-nav
              %h4
                = t('terms.recent_update_pages')
              %ul.nav.nav-list
                - Page.accessible_by(current_user).recently.each do |page|
                  %li
                    %p
                      = link_to(truncate(page.name, :length => 15), wiki_information_page_path(page.wiki_information, page))
                      = link_to(truncate("(#{page.wiki_information.name})", :length => 10), wiki_information_path(page.wiki_information))

:javascript
  $('#search-word-form').on('submit', function(){
    this.action = "search?q=" + $('#search-word-form #search-query').val();
    this.submit();
  });
