!!!
%html{:lang => "en"}
  %head
    = render 'shared/layout/head'
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand= link_to "InternalWiki", root_path
          .nav-collapse
            %ul.nav
              - if content_for?(:menu_link)
                = yield(:menu_link)
              - else
                %li= link_to t('terms.new_wiki'), new_wiki_info_path

            %ul.nav
              = form_tag('#', :class => 'form-search', :id => 'search-word-form', :method => :get) do
                = text_field_tag :q, @search_word, :placeholder => "Search word...", :class => 'input-medium search-query', :id => 'search-query'
                = submit_tag t('terms.search'), :class => 'btn btn-primary'

            - if current_user
              %ul.nav.pull-right
                %li.divider-vertical
                  %a{:class => "dropdown-toggle", :"data-toggle" => "dropdown", :href => "#"}
                    =image_tag avatar_url(current_user, :size => 25)
                    %b{:class => "caret"}
                  %ul{:class => "dropdown-menu"}
                    %li= link_to t('terms.setting'), user_setting_path
                    %li= link_to t('terms.logout'), logout_path
                    - if current_user.admin?
                      %li= link_to t('terms.user_control'), admin_users_path

    .container
      .row
        .span12
          - if content_for?(:page_editable)
            = yield(:page_editable)
          - else
            .row
              .span9
                = yield
              .span3
                - if content_for?(:right_area)
                  = yield(:right_area)
                - else
                  .well.sidebar-nav
                    %h4
                      = t('terms.recent_update_pages')
                    %ul.nav.nav-list
                      - Page.accessible_by(current_user).recently.each do |page|
                        %li
                          %p
                            = link_to truncate(page.name, length: 15), page_path(wiki_name: page.wiki_information.name, page_name: page.name)
                            = link_to truncate("(#{page.wiki_information.name})", length: 10), wiki_info_path(wiki_name: page.wiki_information.name)

:coffeescript
  $('#search-word-form').on 'submit', ->
    this.action = "/search?q=" + $('#search-word-form #search-query').val()
    this.submit()
